*{
    background-color: hsl(232deg 16% 12%);
}

pre {
    color: hsl(279deg 53% 44%);
}

p {
    color: hsl(157deg 35% 41%);
    font-size: 1.08em;
    letter-spacing: .05em;
    line-height: 1.3em;
}

div{
    color: hsl(342deg 100% 65%);
    display: inline;
}

input {
    text-decoration: none;
    border: none;
    outline: none;
    color: hsl(342deg 100% 65%);
}

ul {
    padding-left: 0;
}

li {
    display: block;
    font-size: 1.08em;
    line-height: 1.3em;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    letter-spacing: 0.05em;
    animation: typing 1s steps(30, end);
    color: hsl(193deg 50% 45%);
}

.textInput{
    color: white;
}

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

